@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  body > div {
    height: 100vh;
    overflow-y: auto;
  }
}

@media (max-width: 1023px) {
  body > div {
    min-height: 100vh;
  }
}

